<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
      h1 {text-align: center; margin: 15px;}
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109998364-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-109998364-1');
    </script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <div id="avatar-container">
            <img src="assets/images/avatar.jpg" alt="Avatar" height="200" width="200">
        </div>
        <a href="{{ site.github.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
        <p>
I am a 5th-year CS PhD student at <a href="https://www.cs.cornell.edu/" target="_blank">Cornell University</a> working on Natural Language Processing.
My advisor is <a href="http://www.cs.cornell.edu/home/cardie/" target="_blank">Prof. Claire Cardie</a>.
Before that, I did my undergraduate study at Shanghai Jiao Tong University.
        </p>
        <address>
            <strong>Cornell University</strong>
          <br>
          349 Gates Hall
          <br>
          Ithaca, NY 14853
          <br>
          <br>
          <strong>Email: xlchen AT cs.cornell.edu</strong> 
        </address>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
